In [1]:
import pandas_datareader as web
import matplotlib as plt
import mplfinance as mpf 
import datetime 
import pandas as pd

In [ ]:
data=pd.read_csv("C:\\Users\pc\\Desktop\\Mes_Projets\\COVID\\dataCOvid.csv")

In [5]:
data.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [6]:
df=data[['dateRep','cases','countriesAndTerritories']]

In [7]:
df

          dateRep  cases countriesAndTerritories
0      14/12/2020    746             Afghanistan
1      13/12/2020    298             Afghanistan
2      12/12/2020    113             Afghanistan
3      11/12/2020     63             Afghanistan
4      10/12/2020    202             Afghanistan
...           ...    ...                     ...
61895  25/03/2020      0                Zimbabwe
61896  24/03/2020      0                Zimbabwe
61897  23/03/2020      0                Zimbabwe
61898  22/03/2020      1                Zimbabwe
61899  21/03/2020      1                Zimbabwe

[61900 rows x 3 columns]

In [8]:
df.dtypes

dateRep                    object
cases                       int64
countriesAndTerritories    object
dtype: object

In [9]:
df['Date']=pd.to_datetime(df['dateRep'],dayfirst=True)

C:\Users\pc\AppData\Local\Temp\ipykernel_40920\2404468942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date']=pd.to_datetime(df['dateRep'],dayfirst=True)

In [10]:
df

          dateRep  cases countriesAndTerritories       Date
0      14/12/2020    746             Afghanistan 2020-12-14
1      13/12/2020    298             Afghanistan 2020-12-13
2      12/12/2020    113             Afghanistan 2020-12-12
3      11/12/2020     63             Afghanistan 2020-12-11
4      10/12/2020    202             Afghanistan 2020-12-10
...           ...    ...                     ...        ...
61895  25/03/2020      0                Zimbabwe 2020-03-25
61896  24/03/2020      0                Zimbabwe 2020-03-24
61897  23/03/2020      0                Zimbabwe 2020-03-23
61898  22/03/2020      1                Zimbabwe 2020-03-22
61899  21/03/2020      1                Zimbabwe 2020-03-21

[61900 rows x 4 columns]

In [17]:
df=df.drop(columns=['dateRep'])

In [21]:
df['total cases']=df.sort_values('Date').groupby('countriesAndTerritories')['cases'].cumsum().sort_index()

In [23]:
df=df[['Date','countriesAndTerritories','total cases']]
df=df.rename(columns={'countriesAndTerritories':'Pays'})

In [25]:
df=pd.pivot_table(df,index=['Date'],columns=['Pays'],values=['total cases'])

In [27]:
df

           total cases                                              \
Pays       Afghanistan  Albania  Algeria Andorra   Angola Anguilla
Date
2019-12-31         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-01         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-02         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-03         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-04         0.0      NaN      0.0     NaN      NaN      NaN
...                ...      ...      ...     ...      ...      ...
2020-12-10     48053.0  45188.0  90014.0  7162.0  15804.0     10.0
2020-12-11     48116.0  46061.0  90579.0  7190.0  15925.0     10.0
2020-12-12     48229.0  46863.0  91121.0  7236.0  16061.0     10.0
2020-12-13     48527.0  47742.0  91638.0  7288.0  16161.0     10.0
2020-12-14     49273.0  48530.0  92102.0  7338.0  16188.0     10.0

                                                             ...          \
Pays       Antigua_and_Barbuda  Argentina   Armenia   Aruba  ... Uruguay
Date                                                         ...
2019-12-31                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-01                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-02                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-03                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-04                 NaN        NaN       0.0     NaN  ...     NaN
...                        ...        ...       ...     ...  ...     ...
2020-12-10               146.0  1475222.0  145240.0  4996.0  ...  8104.0
2020-12-11               146.0  1482216.0  146317.0  5011.0  ...  8487.0
2020-12-12               147.0  1489328.0  147312.0  5031.0  ...  8849.0
2020-12-13               148.0  1494602.0  148325.0  5044.0  ...  9180.0
2020-12-14               148.0  1498160.0  148682.0  5049.0  ...  9708.0

                                                                   \
Pays       Uzbekistan Vanuatu Venezuela Vietnam Wallis_and_Futuna
Date
2019-12-31        NaN     NaN       NaN     0.0               NaN
2020-01-01        NaN     NaN       NaN     0.0               NaN
2020-01-02        NaN     NaN       NaN     0.0               NaN
2020-01-03        NaN     NaN       NaN     0.0               NaN
2020-01-04        NaN     NaN       NaN     0.0               NaN
...               ...     ...       ...     ...               ...
2020-12-10    74498.0     1.0  105852.0  1381.0               3.0
2020-12-11    74664.0     1.0  106280.0  1385.0               3.0
2020-12-12    74811.0     1.0  106715.0  1391.0               3.0
2020-12-13    74956.0     1.0  106715.0  1395.0               3.0
2020-12-14    75094.0     1.0  107177.0  1397.0               3.0


Pays       Western_Sahara   Yemen   Zambia Zimbabwe
Date
2019-12-31            NaN     NaN      NaN      NaN
2020-01-01            NaN     NaN      NaN      NaN
2020-01-02            NaN     NaN      NaN      NaN
2020-01-03            NaN     NaN      NaN      NaN
2020-01-04            NaN     NaN      NaN      NaN
...                   ...     ...      ...      ...
2020-12-10          766.0  2079.0  18062.0  11007.0
2020-12-11          766.0  2081.0  18091.0  11081.0
2020-12-12          766.0  2082.0  18161.0  11162.0
2020-12-13          766.0  2083.0  18217.0  11219.0
2020-12-14          766.0  2083.0  18274.0  11246.0

[350 rows x 214 columns]

In [29]:
df.columns

MultiIndex([('total cases',         'Afghanistan'),
            ('total cases',             'Albania'),
            ('total cases',             'Algeria'),
            ('total cases',             'Andorra'),
            ('total cases',              'Angola'),
            ('total cases',            'Anguilla'),
            ('total cases', 'Antigua_and_Barbuda'),
            ('total cases',           'Argentina'),
            ('total cases',             'Armenia'),
            ('total cases',               'Aruba'),
            ...
            ('total cases',             'Uruguay'),
            ('total cases',          'Uzbekistan'),
            ('total cases',             'Vanuatu'),
            ('total cases',           'Venezuela'),
            ('total cases',             'Vietnam'),
            ('total cases',   'Wallis_and_Futuna'),
            ('total cases',      'Western_Sahara'),
            ('total cases',               'Yemen'),
            ('total cases',              'Zambia'),
            ('total cases',            'Zimbabwe')],
           names=[None, 'Pays'], length=214)

In [31]:
df.index.name=None

In [33]:
df

           total cases                                              \
Pays       Afghanistan  Albania  Algeria Andorra   Angola Anguilla
2019-12-31         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-01         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-02         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-03         0.0      NaN      0.0     NaN      NaN      NaN
2020-01-04         0.0      NaN      0.0     NaN      NaN      NaN
...                ...      ...      ...     ...      ...      ...
2020-12-10     48053.0  45188.0  90014.0  7162.0  15804.0     10.0
2020-12-11     48116.0  46061.0  90579.0  7190.0  15925.0     10.0
2020-12-12     48229.0  46863.0  91121.0  7236.0  16061.0     10.0
2020-12-13     48527.0  47742.0  91638.0  7288.0  16161.0     10.0
2020-12-14     49273.0  48530.0  92102.0  7338.0  16188.0     10.0

                                                             ...          \
Pays       Antigua_and_Barbuda  Argentina   Armenia   Aruba  ... Uruguay
2019-12-31                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-01                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-02                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-03                 NaN        NaN       0.0     NaN  ...     NaN
2020-01-04                 NaN        NaN       0.0     NaN  ...     NaN
...                        ...        ...       ...     ...  ...     ...
2020-12-10               146.0  1475222.0  145240.0  4996.0  ...  8104.0
2020-12-11               146.0  1482216.0  146317.0  5011.0  ...  8487.0
2020-12-12               147.0  1489328.0  147312.0  5031.0  ...  8849.0
2020-12-13               148.0  1494602.0  148325.0  5044.0  ...  9180.0
2020-12-14               148.0  1498160.0  148682.0  5049.0  ...  9708.0

                                                                   \
Pays       Uzbekistan Vanuatu Venezuela Vietnam Wallis_and_Futuna
2019-12-31        NaN     NaN       NaN     0.0               NaN
2020-01-01        NaN     NaN       NaN     0.0               NaN
2020-01-02        NaN     NaN       NaN     0.0               NaN
2020-01-03        NaN     NaN       NaN     0.0               NaN
2020-01-04        NaN     NaN       NaN     0.0               NaN
...               ...     ...       ...     ...               ...
2020-12-10    74498.0     1.0  105852.0  1381.0               3.0
2020-12-11    74664.0     1.0  106280.0  1385.0               3.0
2020-12-12    74811.0     1.0  106715.0  1391.0               3.0
2020-12-13    74956.0     1.0  106715.0  1395.0               3.0
2020-12-14    75094.0     1.0  107177.0  1397.0               3.0


Pays       Western_Sahara   Yemen   Zambia Zimbabwe
2019-12-31            NaN     NaN      NaN      NaN
2020-01-01            NaN     NaN      NaN      NaN
2020-01-02            NaN     NaN      NaN      NaN
2020-01-03            NaN     NaN      NaN      NaN
2020-01-04            NaN     NaN      NaN      NaN
...                   ...     ...      ...      ...
2020-12-10          766.0  2079.0  18062.0  11007.0
2020-12-11          766.0  2081.0  18091.0  11081.0
2020-12-12          766.0  2082.0  18161.0  11162.0
2020-12-13          766.0  2083.0  18217.0  11219.0
2020-12-14          766.0  2083.0  18274.0  11246.0

[350 rows x 214 columns]

In [35]:
df.columns=[col[1] for col in df.columns]

In [37]:
df

,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua_and_Barbuda,Argentina,Armenia,Aruba,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis_and_Futuna,Western_Sahara,Yemen,Zambia,Zimbabwe
2019-12-31,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-01,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-02,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-03,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2020-01-04,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,48053.0,45188.0,90014.0,7162.0,15804.0,10.0,146.0,1475222.0,145240.0,4996.0,...,8104.0,74498.0,1.0,105852.0,1381.0,3.0,766.0,2079.0,18062.0,11007.0
2020-12-11,48116.0,46061.0,90579.0,7190.0,15925.0,10.0,146.0,1482216.0,146317.0,5011.0,...,8487.0,74664.0,1.0,106280.0,1385.0,3.0,766.0,2081.0,18091.0,11081.0
2020-12-12,48229.0,46863.0,91121.0,7236.0,16061.0,10.0,147.0,1489328.0,147312.0,5031.0,...,8849.0,74811.0,1.0,106715.0,1391.0,3.0,766.0,2082.0,18161.0,11162.0
2020-12-13,48527.0,47742.0,91638.0,7288.0,16161.0,10.0,148.0,1494602.0,148325.0,5044.0,...,9180.0,74956.0,1.0,106715.0,1395.0,3.0,766.0,2083.0,18217.0,11219.0
2020-12-14,49273.0,48530.0,92102.0,7338.0,16188.0,10.0,148.0,1498160.0,148682.0,5049.0,...,9708.0,75094.0,1.0,107177.0,1397.0,3.0,766.0,2083.0,18274.0,11246.0

In [39]:
df=df.fillna(0).astype(int)

In [41]:
df=df.drop(columns=['Cases_on_an_international_conveyance_Japan'])

In [43]:
df.columns=[col.replace('_',' ') for col in df.columns]

In [45]:
#prendre Top10 pays
country_reserved = set()
for index,row in df.iterrows():
    country_reserved|= set (row[row>0].sort_values(ascending=False).head(10).index)
df2=df[list(country_reserved)]

In [47]:
df2

,Italy,Turkey,Argentina,Japan,India,Taiwan,Germany,Singapore,China,Thailand,...,Spain,Colombia,Belgium,Kuwait,South Korea,Switzerland,Vietnam,Mexico,Brazil,Malaysia
2019-12-31,0,0,0,0,0,0,0,0,27,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-01,0,0,0,0,0,0,0,0,27,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-02,0,0,0,0,0,0,0,0,27,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-03,0,0,0,0,0,0,0,0,44,0,...,0,0,0,0,0,0,0,0,0,0
2020-01-04,0,0,0,0,0,0,0,0,44,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-12-10,1770149,903805,1475222,168573,9767371,724,1242203,58291,91957,4151,...,1720056,1392133,601788,145204,40098,362180,1381,1205229,6728452,76265
2020-12-11,1787147,934229,1482216,171542,9796769,725,1272078,58297,91972,4180,...,1730575,1399911,604392,145495,40786,367218,1385,1217126,6781799,78499
2020-12-12,1805873,934229,1489328,174299,9826775,733,1300516,58305,91985,4192,...,1730575,1408909,607143,145789,41736,372329,1391,1229379,6836227,80309
2020-12-13,1825775,966335,1494602,177287,9857029,736,1320716,58313,92009,4209,...,1730575,1417072,607999,146044,42766,372329,1395,1241436,6880127,82246
2020-12-14,1843712,995471,1498160,179653,9884100,740,1337078,58320,92021,4237,...,0,1425774,608001,146218,43484,372329,1397,1250044,6901952,83475

In [284]:
#generer la video
!pip install bar-chart-race

Collecting bar-chart-race
  Downloading bar_chart_race-0.1.0-py3-none-any.whl.metadata (4.2 kB)
Requirement already satisfied: pandas>=0.24 in c:\users\pc\anaconda3\lib\site-packages (from bar-chart-race) (2.2.2)
Requirement already satisfied: matplotlib>=3.1 in c:\users\pc\anaconda3\lib\site-packages (from bar-chart-race) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib>=3.1->bar-chart-race) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.24->bar-chart-race) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas>=0.24->bar-chart-race) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\pc\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->bar-chart-race) (1.16.0)
Downloading bar_chart_race-0.1.0-py3-none-any.whl (156 kB)
Installing collected packages: bar-chart-race
Successfully installed bar-chart-race-0.1.0

In [49]:
import bar_chart_race as bcr

In [53]:
plt.rcParams['animation.ffmpeg_path'] = 'ffmpeg'  # Assurez-vous que le chemin de FFmpeg est correct
print("FFmpeg est installÃ© et configurÃ©.")

FFmpeg est installÃ© et configurÃ©.

In [55]:
bcr.bar_chart_race(
    df = df2,
    filename = r"C:\Users\pc\Desktop\Covid-19.mp4",
    n_bars=10,
    period_fmt='%B %d,%y',
    title='Evolution des cas confirmÃ© COVID-19 par pays'
)

C:\Users\pc\anaconda3\Lib\site-packages\bar_chart_race\_make_chart.py:889: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_values.iloc[:, 0] = df_values.iloc[:, 0].fillna(method='ffill')
C:\Users\pc\anaconda3\Lib\site-packages\bar_chart_race\_make_chart.py:286: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_yticklabels(self.df_values.columns)
C:\Users\pc\anaconda3\Lib\site-packages\bar_chart_race\_make_chart.py:287: UserWarning: set_ticklabels() should only be used with a fixed number of ticks, i.e. after set_ticks() or using a FixedLocator.
  ax.set_xticklabels([max_val] * len(ax.get_xticks()))